{% if locales|length > 1 %}
    {% for code in locales %}
        {% if code is not same as(active) %}
            <a href="{{ path('sylius_shop_switch_locale', {'code': code}) }}" class="item sylius-available-locale">
                {{ code }}
            </a>
        {% endif %}
    {% endfor %}
{% endif %}
