{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    {{ render(url('sylius_shop_partial_taxon_show_by_slug', {
        'slug': app.request.attributes.get('slug'),
        'template': '@SyliusShop/Taxon/_horizontalMenu.html.twig'
    })) }}
    <div class="portfolio-style">
        <div class="row grid-2">
            {% include '@SyliusShop/Product/Index/_main.html.twig' %}
        </div>
    </div>
{% endblock %}
